body {
  font-family: "Cabin", sans-serif;
  color: #373A3C;
}

.nav_titulo {
  font-family: "Lobster", cursive;
  color: white;
  text-align: center;
  font-size: 37pt;
padding-left: 10%
}

.titulo_main {
  text-align: left;
  font-size: 42pt;
  padding-right: 15%;
}

.boton_main {
  border: 1px solid #DDDDDD;
}
#receta{
  padding-top: 3rem;
}
.fondo-rosa{
  background-color: #DC3545;
}
footer{
  font-family: "Lobster", cursive;
  color: white;
  text-align: center;
  font-size: 37pt;
  background-color:#373A3C;
}
.seccion_newslatter h5 span{
  font-family: "Lobster", cursive;
}
.seccion_newslatter_boton{
  border: 1px solid white;
}
